html,
body {
   font-family: "Helvetica" sans-serif;
   font-size: 18px;
   margin: 0;
}

.main-conteiner {
   width: 960px;

}
   /* Header Section */

   .logo-conteiner {
     background-color: black;
     display: block;
     height: 6.8rem;

   }

   .logo-container {
    display: flex;
    align-items: center;

   }

   .logo {
     height: 1.5rem;
     padding-left: 4rem;
     padding-right: 1rem;
     padding-top: 1.5rem;

   }

   span {
     display: flex;
     align-items: center;
   }

   .logo-conteiner span {

    display: inline;
    font-family: Helvetica;
    font-size: 1.5rem;
    color: white;

   }

      /* Main Banner or Top banner Section */

   .main-banner {
      width: 960px;

   }

   .image-container {
     display: flex;
     background-repeat: no-repeat;
     background-position: center;
     background-size: cover;
     height: 25rem;
   }

   .text-on-image {
     display: block;
   }

   .text-on-image h4 {

     color: white;
     font-family: Helvetica;
     font-weight: bold;
     background-color: black;
     padding: 2em 3em;
     position: relative;

   }

   .text-on-image 
