html {
   font-size: 18px;
}

body {
   font-family: "Helvetica" sans-serif;

 }

h1,
h4 {
  font-weight: bold;
}

.conteiner {
  max-width: 960px;
  margin: 0 auto;
}
        /* Header Section */

   .company {
     background-color: black;
     color: white;

   }

   .company .container {
    display: flex;
    align-items: center;
    padding: .66rem 0 .66rem 0.5rem;

   }

   .company img {
     height: 1.5rem;
     padding-left: 2rem;
     padding-right: 1rem;

   }


      /* Main Banner or Top banner Section */



   .main-banner {
     background: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-5/moto.jpeg");
     display: flex;
     background-repeat: no-repeat;
     background-position: center;
     background-size: cover;
     height: 25rem;
   }

   .headline {
     display: block;
     position: relative;
     top: 9rem;
     width: 20rem;
     padding: 3rem 2rem;
     background-color: black;
     color: white;
   }

   .headline h1 {

     font-size: 2rem;
     margin: 0.25rem;
     line-height: 1.2;

   }

   .headline {
     width: 100%;
     padding: 3rem 2rem;
     top: 10rem;
   }
.headline h4 {
    font-size: 1rem;
}

.headline h1 {
    font-size: 2rem;
}

         /* Nav Section */
nav {
  background-color: firebrick;
  color: white;
}

nav ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.75rem;
}
